
.slot {
	width: 6dvmin;
	aspect-ratio: 1/1;
	color: var(--bs-primary);
	border: thin solid;
	display: inline-block;
	background-color: #fffae7;
}

	.slot.error {
		background-color: #edaeae;
	}

.die {
	font-size: 4.5dvmin;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: bold;
	background-color: transparent;
}

	.die:hover {
		color: blue;
	}

.move .die {
	color: lightblue;
}
