.board {
	background-color: orange;
	display: grid;
	grid-gap: 0.1rem;
	grid-template-columns: repeat(var(--board-width,  12), 1fr);
	grid-template-rows:    repeat(var(--board-height, 10), 1fr);
	padding: 0.4rem;
	color: var(--bs-primary)
}

.rack {
	background-color: orange;
	display: grid;
	grid-gap: 0.1rem;
	grid-template-columns: repeat(var(--rack-width, 12), 1fr);
	grid-template-rows:    repeat(var(--rack-height, 1), 1fr);
	padding: 0.4rem;
}

.win {
	background-color: #7cfc00; /* lawngreen */
}
