#board_and_rack {
	--board-colour: orange;
	--letter-colour: var(--bs-primary);
	--win-colour:   lawngreen;

	--slot-colour: #e5d79e;
	--error-colour: #fd7a7a;
	--moving-colour: #52c8ef;
	--hover-colour: blue;
}

@media (prefers-color-scheme: light) {
	#board_and_rack {
		--slot-colour: cornsilk;
		--error-colour: #edaeae;
		--moving-colour: lightblue;
		--hover-colour: blue;
	}
}

#board_and_rack {

	display: flex;
}

#dictionary {
	text-align: right;
}

div {
	user-select: none;
	border-radius: 0.375rem;
	margin: auto;
	text-align: center;
}

button {
	margin-bottom: 1rem;
}

#board {
	background-color: var(--board-colour);
	color: var(--letter-colour);
	display: grid;
	grid-gap: 0.1rem;
	grid-template-columns: repeat(var(--board-width,  12), 1fr);
	grid-template-rows:    repeat(var(--board-height, 10), 1fr);
	padding: 0.4rem;
}

#rack {
	background-color: var(--board-colour);
	color: var(--letter-colour);
	display: grid;
	grid-gap: 0.1rem;
	grid-template-columns: repeat(var(--rack-width, 12), 1fr);
	padding: 0.4rem;
	margin-top: 1rem;
}

#board[win],
#rack[win] {
	background-color: var(--win-colour);
}
