@inherits LayoutComponentBase

<div class="page">
	<main>
		<article class="content px-4">
			@Body
		</article>
	</main>
	<PageFooter GithubId="https://github.com/smabuk"
				TwitterId="https://twitter.com/smabuk">
		© Simon Brookes (smabuk) 2023@(DateTime.Now.Year != 2023 ? $"-{DateTime.Now.Year}" : "")
	</PageFooter>
</div>

<div id="blazor-error-ui">
	An unhandled error has occurred.
	<a href="" class="reload">Reload</a>
	<a class="dismiss">🗙</a>
</div>
