@inherits LayoutComponentBase

<div class="page">
	<div class="sidebar">
		<NavMenu />
	</div>

	<main>
		<div class="top-row px-4 dark">
			<h1><SectionOutlet SectionName="page-title"></SectionOutlet></h1>
			@* <a href="https://github.com/smabuk/smabPlayground2023" target="_blank">About</a> *@
		</div>

		<article class="content px-4">
			@Body
		</article>
		<div class="page-description"><SectionOutlet SectionName="page-description"></SectionOutlet></div>
	</main>
	<PageFooter
		GithubId="https://github.com/smabuk"
		TwitterId="https://twitter.com/smabuk"
	>
		© Simon Brookes (smabuk) 2023@(DateTime.Now.Year != 2023 ? $"-{DateTime.Now.Year}" : "")
	</PageFooter>
</div>

<div id="blazor-error-ui" data-snippet>
	An unhandled error has occurred.
	<a href="." class="reload">Reload</a>
	<span class="dismiss">🗙</span>
</div>
<ReconnectModal />
