<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href=""><img src="/favicon.png" title="Home" /></a>
	</div>
</div>

<input type="checkbox" title="Navigation menu" id="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('#navbar-toggler').click()">
	<nav class="flex-column">
		<NavMenuItem Icon="bi-house-door-fill" Text="Home" Path="" Match="NavLinkMatch.All"/>

		<NavMenuItem Icon="bi-list-nested" Text="Weather" Path="weather" />

		<NavMenuItem Icon="bi-border-outer" Text="Labyrinth" Path="games/labyrinth" />
		<NavMenuItem Icon="bi-grid-3x3-gap" Text="Q-Less" Path="games/qless" />
		<NavMenuItem Icon="bi-grid-3x3-gap-fill" Text="Boggle" Path="games/boggle/superbig" />
		<NavMenuItem Icon="🃏" Text="Deck of cards" Path="games/cards/deckofcards" />

		@* <NavMenuItem Icon="bi-body-text" Text="OneDrive files" Path="onedrivefiles01" /> *@
		<NavMenuItem Icon="bi-filetype-txt" Text="OneDrive text file" Path="onedrivefiles01/0" />
		<NavMenuItem Icon="bi-filetype-json" Text="OneDrive json file" Path="onedrivefiles01/1" />
		<NavMenuItem Icon="bi-filetype-xlsx" Text="OneDrive Excel file" Path="onedrivefiles01/2" />

		<NavMenuItem Icon="bi-arrows-move" Text="CSS animation 01" Path="web/animation01" />
		<NavMenuItem Icon="bi-trash" Text="CSS animation 02" Path="web/animation02" />
		<NavMenuItem Icon="bi-box" Text="CSS :has()" Path="web/csshas" />

		<NavMenuItem Icon="bi-list-nested" Text="Drag & drop 01" Path="web/draganddrop01" />
		<NavMenuItem Icon="bi-list-nested" Text="Drag & drop 02" Path="web/draganddrop02" />
		
		<NavMenuItem Icon="bi-grid-3x3" Text="Quick grid 01" Path="dev/quickgrid01" />
		<NavMenuItem Icon="bi-arrow-repeat" Text="Show progress" Path="dev/showprogressbar" />
		<NavMenuItem Icon="bi-hdd-network" Text="Show HttpContext" Path="dev/showhttpcontext" />
	</nav>
</div>
