div {
	width: 100%;
}

table {
	margin-bottom: 40px;
	width: 100%;
}

td {
	padding-right: 15px;
	max-width: 50vw;
	vertical-align: top;
}

tr td:nth-child(1) {
	white-space: nowrap;
}
tr td:nth-child(2) {
	word-wrap: break-word;
}
