div {
	position: relative;
}

	div > ol {
		margin: 0;
		padding: 0;
	}

	div ol > li {
		list-style-position: inside;
		border: 1px solid currentColor;
		border-radius: 8px;
		margin: 8px;
		background-color: rgba(25, 25, 25, 0.5);
		padding: 8px;
		height: 4em;
		font-size: 1.4em;
	}

::deep .move-button {
	background-color: var(--bs-warning);
}

/* animation css*/
.moveme {
	animation-duration: 700ms;
	animation-name: updown;
}

.move {
	animation-delay: 200ms;
	animation-duration: 500ms;
	animation-name: updown;
}

@keyframes updown {
	0% {
		transform: translateY(0%);
	}

	100% {
		transform: translateY(calc(var(--sb-move-places, 1) * (100% + 8px)));
	}
}
