@page "/css/animation01"
@attribute [RenderModeServer]
<PageTitle>CSS Animation 01</PageTitle>
<SectionContent SectionName="page-title">CSS Animation 01</SectionContent>

<div>
	<ol>
		@foreach (var item in Movies) {
			<li draggable="true"
				class="@GenerateLiClass(item)">
				<div class="remove-button">
					<Confirm Title="Remove movie?"
							 ButtonCssClass="bi bi-trash trash"
							 ConfirmYes="async () => await Remove(item)">
						<MessageTemplate>
							<p><span>@item</span></p>
							<p>Are you sure you don’t want to see this movie any more?</p>
						</MessageTemplate>
					</Confirm>
				</div>
				<span>@item</span>
			</li>
		}
	</ol>
</div>


@code {

	private string removeId = "";

	public List<string> Movies { get; set; } = new();

	protected override void OnInitialized()
	{
		Movies = [
			"Jaws"
			, "The Terminator"
			, "Star Wars"
			, "Elemental"
			, "Raiders of the Lost Ark"
			, "Big"
			, "Airplane II"
			, "Groundhog Day"
			, "Barbie"
			, "Teenage Mutant Ninja Turtles"
		];
	}

	private async Task Remove(string name)
	{
		removeId = name;
		StateHasChanged();
		await Task.Delay(500);
		Movies.Remove(name);
		removeId = "";
	}

	private string? GenerateLiClass(string name)
	{
		string? hide = name == removeId ? "hide shrink-height" : null;
		if (hide is null) {
			return null;
		}
		return $"{hide}".Trim();
	}
}
