.slot {
	position: relative;
	width: 6dvmin;
	aspect-ratio: 1/1;
	border: thin solid;
	display: inline-block;
	background-color: var(--slot-colour);
	margin: 0px;
	padding: 0px;
	&[error] {
		background-color: var(--error-colour);
	}
}



.die {
	font-size: 4.5dvmin;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: bold;
	background-color: transparent;
	width: 100%;

	&:hover {
		color: var(--hover-colour);
	}

	.slot[moving] & {
		color: var(--moving-colour);

		&:hover {
			color: var(--moving-colour);
		}
	}
}
