.slot {
	position: relative;
	width: 12dvmin;
	aspect-ratio: 1/1;
	border: thin solid;
	display: inline-block;
	background-color: #fffae7;
	margin: 0px;
	padding: 0px;
}

	.slot.selected {
		background-color: green;
		color: yellow;
	}

.die {
	font-size: 8dvmin;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: bold;
	background-color: transparent;
	width: 100%;
}

.inner-circle {
	width: 96%;
	height: 96%;
	margin: 2%;
	background-color: cornsilk;
}

	.inner-circle.selected {
		background-color: yellow;
		color: green;
	}

		.inner-circle.selected:hover {
			color: green;
		}

	.inner-circle:hover {
		background-color: yellow;
		color: red;
	}

.arrow {
	color: hotpink;
	font-weight: bold;
	font-size: 3dvmin;
	position: absolute;
	margin: 0rem;
	padding: 0rem;
	z-index: 10;
}

.arrow-NONE {
	display: none;
}

.arrow-START {
	display: none;
	top: 0;
	left: 0;
}

.arrow-END {
	display: none;
	top: 0;
	right: 0;
}

.arrow-N {
	top: 0;
	left: 50%;
	transform: translate(-50%, 0) rotate(0deg);
}

.arrow-NE {
	top: 0;
	right: 0;
	transform: rotate(45deg);
}

.arrow-E {
	top: 50%;
	right: 0;
	transform: translate(0, -50%) rotate(90deg);
}

.arrow-SE {
	bottom: 0;
	right: 0;
	transform: rotate(135deg);
}

.arrow-S {
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0) rotate(180deg);
}

.arrow-SW {
	bottom: 0;
	left: 0;
	transform: rotate(225deg);
}

.arrow-W {
	top: 50%;
	left: 0;
	transform: translate(0, -50%) rotate(270deg);
}

.arrow-NW {
	top: 0;
	left: 0;
	transform: rotate(315deg);
}

.show-orientation {
	text-decoration: underline;
	text-decoration: underline dashed #808080;
}

.rot-0 {
	transform: rotate(0deg);
}

.rot-90 {
	transform: rotate(90deg);
}

.rot-180 {
	transform: rotate(180deg);
}

.rot-270 {
	transform: rotate(270deg);
}

.rot-reverse-0 {
	transform: rotate(180deg);
}

.rot-reverse-90 {
	transform: rotate(270deg);
}

.rot-reverse-180 {
	transform: rotate(0deg);
}

.rot-reverse-270 {
	transform: rotate(90deg);
}
