#board_container {
	--board-colour: orange;

	display: flex;
}

div {
	user-select: none;
	border-radius: 0.375rem;
	margin: auto;
	text-align: center;
}

button {
	margin-bottom: 1rem;
}

#board {
	background-color: var(--board-colour);
	color: var(--bs-primary);
	display: grid;
	grid-gap: 0.1rem;
	grid-template-columns: repeat(var(--board-width,  4), 1fr);
	grid-template-rows:    repeat(var(--board-height, 4), 1fr);
	padding: 0.4rem;
}

#dictionary {
	text-align: right;
}
