<SectionContent SectionName="page-description">
	<article>
		<div>@TextContent</div>
		@if (Technologies is [..]) {
			<p>Technologies: @String.Join(", ", Technologies).</p>
		}
		@if (Concepts is [..]) {
			<p>Concepts: @String.Join(", ", Concepts).</p>
		}
	</article>
</SectionContent>
@code {

	[Parameter]
	public RenderFragment? TextContent { get; set; }

	[Parameter]
	public IReadOnlyList<string>? Technologies { get; set; }

	[Parameter]
	public IReadOnlyList<string>? Concepts { get; set; }

	[Parameter]
	public string? SourceLink { get; set; }

}
