article {
	box-sizing: border-box;
	border-block-style: solid;
	border-block-width: 1px;
	margin-bottom: 20px;
	padding: 10px;
}

div {
	margin-top: 0px;
	margin-bottom: 0px;
}

p {
	margin-top: 0px;
	margin-bottom: 0px;
}

::deep a {
	color: var(--bs-code-color, #d63384);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}
