<div id="labyrinth">
	<div class="row">
		<button class="btn btn-primary" type="button" @onclick="() => StartNewGame()">@(gameOver ? "CONGRATULATIONS - New Game" : "New Game")</button>
	</div>
	@if(game is not null) {
		LabyrinthBoard board = game.Board;
		(int extraTileCol, int extraTileRow) = board.ExtraMazeTilePosition;
		<div id="board">
			@for (int col = -1; col <= game.BoardSize; col++) {
				@if (extraTileCol == col && extraTileRow < 0) {
					MazeTile MazeTile = board.ExtraMazeTile;
					<MazeTilePiece MazeTile="MazeTile" Extra/>
				} else {
					<div></div>
				}
			}
			@for (int row = 0; row < game.BoardSize; row++) {
				@if (extraTileCol < 0 && extraTileRow == row) {
					MazeTile MazeTile = board.ExtraMazeTile;
					<MazeTilePiece MazeTile="MazeTile" Extra />
				} else {
					<div></div>
				}
				@foreach (MazeTile MazeTile in board.GetRow(row)) {
					<MazeTilePiece MazeTile="MazeTile" />
				}
				@if (extraTileCol == game.BoardSize && extraTileRow == row) {
					MazeTile MazeTile = board.ExtraMazeTile;
					<MazeTilePiece MazeTile="MazeTile" Extra />
				} else {
					<div></div>
				}
			}
			@for (int col = -1; col <= game.BoardSize; col++) {
				@if (extraTileCol == col && extraTileRow == game.BoardSize) {
					MazeTile MazeTile = board.ExtraMazeTile;
					<MazeTilePiece MazeTile="MazeTile" Extra />
				} else {
					<div></div>
				}
			}

		</div>
	}
</div>

@code {
	LabyrinthGame game = null!;

	bool gameOver = false;

	void StartNewGame()
	{
		game = new();
	}
}
