#labyrinth {
	--board-colour: darkblue;
	--hover-colour: red;
}

.row {
	margin-bottom: 20px;
}

#board {
	width: min(90dvw, 77dvh);
	background-color: var(--board-colour);
	color: var(--bs-primary);
	display: grid;
	grid-gap: 0.2rem;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(9, 1fr);
	padding: 0.1rem;
	border: solid 1px orange;
	border-radius: 5%;
}
