<div id="labyrinth">
	<div class="row">
		<button class="btn btn-primary" type="button" @onclick="() => StartNewGame()">@(GameOver ? "CONGRATULATIONS - New Game" : "New Game")</button>
	</div>
	@if (Game is not null) {
		<div id="board">
			@for (int r = -1; r <= Game.BoardSize; r++) {
				@for (int c = -1; c <= Game.BoardSize; c++) {
					(int col, int row) = (c, r);
					<Tile BoardPosition="grid[col, row]"
						  RotateAntiClockwise="Game.RotateAntiClockwise"
						  RotateClockwise="Game.RotateClockwise"
						  PushTheTile="() => Game.PushTheTile(col, row)"
						  BoardPosWithExtraMazeTile="Game.PositionWithExtra" />
				}
			}
		</div>
	}
</div>

@code {
	public LabyrinthGame Game { get; set; } = null!;

	BoardPosition[,] grid => Game.AsGrid();
	bool GameOver = false;

	void StartNewGame() => Game = new();
}
