#labyrinth {
	--board-colour: darkblue;
	--hover-colour: red;
}

.row {
	margin-bottom: 20px;
}

#board {
	width: min(90dvw, 77dvh);
	background-color: var(--board-colour);
	color: var(--bs-primary);
	display: grid;
	grid-gap: 0.2rem;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(9, 1fr);
	padding: 0.1rem;
	border: solid 1px orange;
	border-radius: 5%;
	
	& div {
		position: relative;
		align-content: center;
		text-align: center;
		aspect-ratio: 1/1;
		background-color: transparent;
		color: white;
	}

	& [data-directions] {
		border: solid 1px;
		border-radius: 15%;
		background-color: #bc8f8f;
	}

}

.emoji {
	padding: 0;
	margin: 0;
	font-size: 3rem;
	position: relative;
	z-index: 20;

	&:hover {
		font-size: 4.2rem;
	}
}

[data-direction] {
	position: absolute;
	color: yellow;
	font-weight: bold;
	font-size: 3dvmin;
	margin: 0px;
	padding: 0px;
	z-index: 10;
}

[data-direction="N"] {
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
}

[data-direction="E"] {
	top: 50%;
	right: 0;
	margin-right: 0.5rem;
	transform: translate(0, -50%);
}

[data-direction="S"] {
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
}

[data-direction="W"] {
	top: 50%;
	left: 0;
	margin-left: 0.5rem;
	transform: translate(0, -50%);
}
