<div id="labyrinth">
	<div class="row">
		<button class="btn btn-primary" type="button" @onclick="() => StartNewGame()">@(gameOver ? "CONGRATULATIONS - New Game" : "New Game")</button>
	</div>
	@if(game is not null) {
		LabyrinthBoard board = game.Board;
		(int extraCardCol, int extraCardRow) = board.ExtraMazeCardPosition;
		<div id="board">
			@for (int col = -1; col <= game.BoardSize; col++) {
				@if (extraCardCol == col && extraCardRow < 0) {
					MazeCard mazeCard = board.ExtraMazeCard;
					<MazeCardPiece MazeCard="mazeCard" Extra/>
				} else {
					<div></div>
				}
			}
			@for (int row = 0; row < game.BoardSize; row++) {
				@if (extraCardCol < 0 && extraCardRow == row) {
					MazeCard mazeCard = board.ExtraMazeCard;
					<MazeCardPiece MazeCard="mazeCard" Extra />
				} else {
					<div></div>
				}
				@foreach (MazeCard mazeCard in board.GetRow(row)) {
					<MazeCardPiece MazeCard="mazeCard" />
				}
				@if (extraCardCol == game.BoardSize && extraCardRow == row) {
					MazeCard mazeCard = board.ExtraMazeCard;
					<MazeCardPiece MazeCard="mazeCard" Extra />
				} else {
					<div></div>
				}
			}
			@for (int col = -1; col <= game.BoardSize; col++) {
				@if (extraCardCol == col && extraCardRow == game.BoardSize) {
					MazeCard mazeCard = board.ExtraMazeCard;
					<MazeCardPiece MazeCard="mazeCard" Extra />
				} else {
					<div></div>
				}
			}

		</div>
	}
</div>

@code {
	LabyrinthGame game = null!;
	// LabyrinthBoard board = null!;
	// List<TreasureCard> deck = null!;

	bool gameOver = false;

	void StartNewGame()
	{
		game = new();
		// board = game.Board;
		// deck = game.Deck;
	}
}
