<div id="labyrinth">
	<div class="row">
		<button class="btn btn-primary" type="button" @onclick="() => StartNewGame()">@(GameOver ? "CONGRATULATIONS - New Game" : "New Game")</button>
	</div>
	@if (Game is not null) {
		<div id="board">
			@for (int r = -1; r <= Game.BoardSize; r++) {
				@for (int c = -1; c <= Game.BoardSize; c++) {
					(int col, int row) = (c, r);
					<Tile BoardPosition="grid[col, row]"
						  RotateAntiClockwise="() => Game = Game.RotateAntiClockwise()"
						  RotateClockwise="() => Game = Game.RotateClockwise()"
						  PushTheTile="() => Game = Game.PushTheTile(col, row)"
						  BoardPosWithExtraMazeTile="Game.Board.PositionWithExtra" />
				}
			}
		</div>
	}
</div>

@code {
	public required LabyrinthGame Game { get; set; }

	BoardPosition[,] grid => Game.AsGrid();
	bool GameOver = false;

	void StartNewGame() => Game = new([new(BluePlayer)]);
}
