#labyrinth {
	--board-colour: orange;
	--hover-colour: red;
}

.row {
	margin-bottom: 20px;
}

#board {
	width: min(90dvw, 77dvh);
	/* background-color: var(--board-colour); */
	color: var(--bs-primary);
	display: grid;
	grid-gap: 0.1rem;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(9, 1fr);
	padding: 0.4rem;
	& div

{
	align-content: center;
	text-align: center;
	aspect-ratio: 1/1;
	background-color: darkblue;
	color: white;
	border: solid 1px;
}

}

.arrow {
	color: hotpink;
	font-weight: bold;
	font-size: 3dvmin;
	position: absolute;
	margin: 0px;
	padding: 0px;
	z-index: 10;

	&[data-direction="N"] {
		top: 0;
		left: 50%;
		transform: translate(-50%, 0) rotate(0deg);
	}

	&[data-direction="E"] {
		top: 50%;
		right: 0;
		margin-right: 0.5rem;
		transform: translate(0, -50%) rotate(90deg);
	}

	&[data-direction="S"] {
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 0) rotate(180deg);
	}

	&[data-direction="W"] {
		top: 50%;
		left: 0;
		margin-left: 0.5rem;
		transform: translate(0, -50%) rotate(270deg);
	}

}


[data-rotation="0"] {
	transform: rotate(0deg);
}

[data-rotation="90"] {
	transform: rotate(90deg);
}

[data-rotation="180"] {
	transform: rotate(180deg);
}

[data-rotation="270"] {
	transform: rotate(270deg);
}
