<div data-directions="@MazeCard.PathDirections()" data-extra="@Extra" data-treasure="@(MazeCard.Treasure is not Treasure.None ? MazeCard.Treasure : null)">
	@if (MazeCard.HasNorthExit()) {
		<i class="bi bi-arrow-up" aria-hidden="true" data-direction="N" />
	}
	@if (MazeCard.HasWestExit()) {
		<i class="bi bi-arrow-left" aria-hidden="true" data-direction="W" />
	}
	@if (MazeCard.HasEastExit()) {
		<i class="bi bi-arrow-right" aria-hidden="true" data-direction="E" />
	}
	@if (MazeCard.HasSouthExit()) {
		<i class="bi bi-arrow-down" aria-hidden="true" data-direction="S" />
	}
	<span class="emoji">@((MarkupString)(MazeCard.Treasure.ToEmoji()))</span>
</div>

@code {
	[Parameter, EditorRequired]
	public required MazeCard MazeCard { get; set; }

	[Parameter]
	public bool Extra { get; set; } = false;
}