<div @onclick="() => Push.InvokeAsync()">
	@if (MazeTile is not null) {
		<MazeTilePiece MazeTile="MazeTile" />
	} else {
		<div />
	}
</div>

@code {
	[Parameter, EditorRequired]
	public required MazeTile MazeTile { get; set; }

	[Parameter] public EventCallback Push { get; set; }
}
