div {
	display: contents;
}

span {
	margin: 0.5dvmin;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	background-color: white;
	color: green;
	user-select: none;
}

[data-back] {
	color: orange;
}

[data-joker-colour='black' i] {
	color: black;
}

[data-joker-colour='red' i] {
	color: red;
}

[data-suit='clubs' i],
[data-suit='spades' i] {
	color: black;
}

[data-suit='hearts' i],
[data-suit='diamonds' i] {
	color: red;
}
