div {
	font-size: calc(var(--card-width) * 1.2);
	width: var(--card-width);
	display: grid;
	place-content: center;
	aspect-ratio: 10/14;
	margin: 0;
	overflow: clip;
	color: var(--card-colour-front, darkgreen);
	background-color: var(--card-colour-background, white);
	border: 1px solid black;
	border-radius: 5%;
	user-select: none;
}

[data-back] {
	color: var(--card-colour-back, #b35400);
}

[data-joker-colour='black' i] {
	color: var(--card-colour-black, black);
}

[data-joker-colour='red' i] {
	color: var(--card-colour-red, #ec0000);
}

[data-suit='clubs' i],
[data-suit='spades' i] {
	color: var(--card-colour-black, black);
}

[data-suit='hearts' i],
[data-suit='diamonds' i] {
	color: var(--card-colour-red, #ec0000);
}
