<div>
	<span data-suit="@suit">@display</span>
</div>

@code {
	[Parameter] public required PlayingCard PlayingCard { get; set; }
	[Parameter] public bool FaceDown { get; set; } = false;

	string suit    => FaceDown ? "back"           : @PlayingCard.Suit.ToString().ToLower();
	string display => FaceDown ? PlayingCard.Back : PlayingCard.ToUnicode(); 
}
