span {
	text-align: center;
	aspect-ratio: 10/14;
	font-size: calc(100dvw / var(--card-columns));
	margin: 0;
	color: darkgreen;
	background-color: white;
	border-color: black;
	border-style: solid;
	border-width: 1.5px;
	border-radius: 1.5dvmin;
	user-select: none;
}

[data-back] {
	color: #b35400;
}

[data-joker-colour='black' i] {
	color: black;
}

[data-joker-colour='red' i] {
	color: #ec0000;
}

[data-suit='clubs' i],
[data-suit='spades' i] {
	color: black;
}

[data-suit='hearts' i],
[data-suit='diamonds' i] {
	color: #ec0000;
}
