img {
	position: absolute;
	top: 0;
	left: 50%;
	display: block;
	width: 50%;
	aspect-ratio: 1 / 1;
	margin: 0;
	padding: 0;
	z-index: 40;
}


[data-rotation="-90"] img {
	transform: rotate(90deg);
}

[data-rotation="0"] img {
	transform: rotate(0deg);
}

[data-rotation="90"] img {
	transform: rotate(-90deg);
}

[data-rotation="180"] img {
	transform: rotate(-180deg);
}

[data-rotation="270"] img {
	transform: rotate(-270deg);
}

[data-rotation="360"] img {
	transform: rotate(-360deg);
}


[data-player="BluePlayer"] {
	top: 50%;
	left: 50%;
}

[data-player="GreenPlayer"] {
	top: 50%;
	left: 50%;
}

[data-player="RedPlayer"] {
	top: 50%;
	left: 50%;
}

[data-player="YellowPlayer"] {
	top: 50%;
	left: 50%;
}
