<article>
	<h1>Amazing Labyrinth Rules</h1>

	<p>
		Shuffle the cards and place them face up on the board at random, thereby creating a chance patterning of
		maze corridors. One maze card will be left over. Shuffle the 24 treasure cards and deal them out equally
		among the players face down. Choose a playing piece and place it on the board on the corner position of the
		same color.
	</p>

	<p>
		Turns are taken in clockwise direction. The players decide who will begin.
	</p>

	<p>
		If you are the first player, look at your first treasure card and return it, face down, to your pile of cards. This
		is your first GOAL in the labyrinth. You may not look at your other cards until you have reached this first
		GOAL.
	</p>

	<p>
		To reach your goal you must shift the walls of the maze. This is done by pushing the extra maze card into
		the labyrinth at some point so that you can move as far as you wish along its open passageways.
	</p>

	<p>
		From the edge of the board push the extra maze card into the labyrinth. The places where the maze card can
		be added are indicated on the edge of the board by an arrow. The maze card that is pushed out will become
		the next player's means of shifting the maze. Until the next player's turn, the new extra maze card is left
		where it is so that all players will know how the maze has been shifted on this turn.
	</p>

	<p>
		You must move the maze before each turn, even if you don't need to in order to reach your goal. This way
		you can wall in another player!
	</p>

	<p>
		You may not immediately reverse the last player's move by returning the extra card to the position it was
		just pushed out of.
	</p>

	<p>
		If the shifting maze pushes out a player's piece, the piece is transferred to the newly inserted maze card at
		the other side. This applies whether the piece belongs to the person making the move or to another player.
		Transferring this piece does not count as a move.
	</p>

	<p>
		After shifting the maze, move your playing piece as far as you choose along the open corridor. You can also
		choose not to move at all. Often you will be able to reach your goal in one move. If not, try to get in the best
		possible position for your next turn.
	</p>

	<p>
		More than one playing piece can occupy a single square. Once you reach your first goal, turn over the top
		treasure card and leave it face up beside your pile of cards. The next card in the pile will be your next goal.
		The turn then passes to the next player.
	</p>

	<p>
		END OF GAME: Once you have reached all your goals you must return to the corner position from which
		you entered the labyrinth. The winner is the first player to turn up all the treasure cards and return to his or
		her starting position.
	</p>
</article>