div {
	margin-bottom: 20px;
}

pre {
	height: 58dvh;
	max-height: 58dvh;
	width: 100%;
	overflow: auto;
	overflow-x: auto;
	overflow-y: auto;
	border-style: solid;
	border-width: 1px;
	padding: 10px;
}

::deep .load-button {
	background-color: var(--bs-warning);
}

a {
	padding: 0 5px 0 5px;
}
