:root {
	--sb-body-bg:     #082565;
	--sb-body-color:  #fff;
	--sb-footer-size: 50px;
}

@media (prefers-color-scheme: light) {
	:root {
		--sb-body-bg:    #fff;
		--sb-body-color: #212529;
	}
}

:root {
	--bs-body-bg:     var(--sb-body-bg);
	--bs-body-color:  var(--sb-body-color);
	--bs-table-bg:    var(--bs-body-bg);
	--bs-table-color: var(--bs-body-color);
}

