.slot {
	position: relative;
	width: var(--slot-size, 12dvmin);
	aspect-ratio: 1/1;
	border: thin solid;
	display: inline-block;
	background-color: var(--slot-colour);
	margin: 0px;
	padding: 0px;

	&[selected] {
		background-color: var(--selected-primary-colour);
		color: var(--selected-secondary-colour);
	}

	&[error] {
		background-color: var(--error-colour);
		color: var(--error-colour);
	}
}

.inner-circle {
	width: 96%;
	aspect-ratio: 1/1;
	margin: 2%;
	background-color: var(--slot-colour);
	border-radius: 50%;

	&[selected] {
		background-color: var(--selected-secondary-colour);
		color: var(--selected-primary-colour);

		&:hover {
			color: var(--selected-primary-colour);
		}
	}

	&:not([blank]):hover {
		background-color: var(--selected-secondary-colour);
		color: var(--hover-colour);
	}
}

.die {
	position: absolute;
	font-size: calc(var(--slot-size, 8dvmin) * 0.75);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: bold;
	background-color: transparent;
	width: 100%;

	&[data-letter="M"],
	&[data-letter="N"],
	&[data-letter="W"],
	&[data-letter="Z"]
	{
		text-decoration: underline;
		text-decoration: underline dashed var(--underline-colour);
	}
}

.arrow {
	color: hotpink;
	font-weight: bold;
	font-size: 3dvmin;
	position: absolute;
	margin: 0px;
	padding: 0px;
	z-index: 10;

	&[data-direction="NONE"] {
		display: none;
	}

	&[data-direction="START"] {
		display: none;
		top: 0;
		left: 0;
	}

	&[data-direction="END"] {
		display: none;
		top: 0;
		right: 0;
	}

	&[data-direction="N"] {
		top: 0;
		left: 50%;
		transform: translate(-50%, 0) rotate(0deg);
	}

	&[data-direction="NE"] {
		top: 0;
		right: 0;
		margin-right: 0.5rem;
		transform: rotate(45deg);
	}

	&[data-direction="E"] {
		top: 50%;
		right: 0;
		margin-right: 0.5rem;
		transform: translate(0, -50%) rotate(90deg);
	}

	&[data-direction="SE"] {
		bottom: 0;
		right: 0;
		margin-right: 0.5rem;
		transform: rotate(135deg);
	}

	&[data-direction="S"] {
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 0) rotate(180deg);
	}

	&[data-direction="SW"] {
		bottom: 0;
		left: 0;
		margin-left: 0.5rem;
		transform: rotate(225deg);
	}

	&[data-direction="W"] {
		top: 50%;
		left: 0;
		margin-left: 0.5rem;
		transform: translate(0, -50%) rotate(270deg);
	}

	&[data-direction="NW"] {
		top: 0;
		left: 0;
		margin-left: 0.5rem;
		transform: rotate(315deg);
	}
}


[data-rotation="0"] {
	transform: rotate(0deg);
}

[data-rotation="90"] {
	transform: rotate(90deg);
}

[data-rotation="180"] {
	transform: rotate(180deg);
}

[data-rotation="270"] {
	transform: rotate(270deg);
}
