@page "/games/cards/deckofcards/{DeckType?}"
@inject PersistentComponentState appState

<SmabPageTitle>Deck of Cards</SmabPageTitle>

<div>
	@foreach (PlayingCard card in cards) {
		<CardFace PlayingCard="card" FaceDown="deck[card]" OnClick="() => deck[card] = !deck[card]" />
	}
</div>

@code {
	[Parameter] public string? DeckType { get; set; }

	PlayingCard[] cards = [];
	Dictionary<PlayingCard, bool> deck = [];

	protected override void OnParametersSet()
	{
		if (cards is []) {
			cards = DeckType switch
			{
				"tarot"      => [.. FrenchTarotPlayingCard.CreateDeck],
				"withjokers" => [.. PlayingCard.CreateDeckWithAllJokers],
				_            => [.. PlayingCard.CreateDeck],
			};

			deck = cards.ToDictionary(c => c, c => false);
			Random.Shared.Shuffle(cards);
		}
	}
}
