@page "/games/cards/deckofcards"
@page "/games/cards/deckofcards/{DeckType}"
@rendermode InteractiveServer

<SmabPageTitle>Deck Of Cards</SmabPageTitle>

<div>
	@foreach (PlayingCard card in deck.Keys) {
		<CardFace PlayingCard="card" FaceDown="deck[card]" OnClick="() => deck[card] = !deck[card]" />
	}
</div>

@code {
	[Parameter] public string DeckType { get; set; } = "standard";

	Dictionary<PlayingCard, bool> deck = [];

	protected override void OnParametersSet()
	{
		deck = DeckType switch
		{
			"tarot" => FrenchTarotPlayingCard.CreateDeck.ToDictionary(c => c, c => false),
			_       => PlayingCard.CreateDeckWithAllJokers.ToDictionary(c => c, c => false),
		};
    }
}
