@page "/games/cards/deckofcards"
@rendermode InteractiveServer

<SmabPageTitle>Deck Of Cards</SmabPageTitle>

<div>
	@foreach (PlayingCard card in deck.Keys) {
		<CardFace PlayingCard="card" FaceDown="deck[card]" OnClick="() => deck[card] = !deck[card]" />
	}
</div>

@code {
	Dictionary<PlayingCard, bool> deck = PlayingCard.CreateDeckWithJokers.ToDictionary(c => c, c => false);
}
