div {
	font-family: "Titillium Web";
	font-weight: 200;
	font-style: normal;
	--card-width: 200px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, var(--card-width));
	grid-gap: 5px;
	place-content: center;
}

@media (max-width: 800px), (max-height: 800px) {
	div {
		--card-width: 67px;
	}
}
