@page "/games/cards/deckofcards/{DeckType?}"
@inject PersistentComponentState appState
@implements IDisposable
@rendermode InteractiveServer

<SmabPageTitle>Deck of Cards</SmabPageTitle>

<div>
	@foreach (PlayingCard card in cards) {
		<CardFace PlayingCard="card" FaceDown="deck[card]" OnClick="() => deck[card] = !deck[card]" />
	}
</div>

@code {
	[Parameter] public string? DeckType { get; set; }


	PlayingCard[] cards = [];
	Dictionary<PlayingCard, bool> deck = [];

	protected override void OnParametersSet()
	{
		_stateSubscription = appState.RegisterOnPersisting(SaveState);
		if (appState.TryTakeFromJson<IEnumerable<StateDto>>("deckofcards", out var state)) {
			LoadState(state!);
			return;
		}

		cards = DeckType switch
		{
			"tarot"      => [.. FrenchTarotPlayingCard.CreateDeck],
			"withjokers" => [.. PlayingCard.CreateDeckWithAllJokers],
			_            => [.. PlayingCard.CreateDeck],
		};

		deck = cards.ToDictionary(c => c, c => Random.Shared.Next(2) == 0 ? false : true);
		Random.Shared.Shuffle(cards);
	}

	#region StateManagement
	private PersistingComponentStateSubscription _stateSubscription;
	private Task SaveState()
	{
		appState.PersistAsJson("deckofcards", cards.Select(c => new StateDto(c, deck[c])));
		return Task.CompletedTask;
	}

	private void LoadState(IEnumerable<StateDto> state)
	{
		cards = [.. state.Select(s => s.Card)];
		deck = state.ToDictionary(s => s.Card, s => s.FaceDown);
	}

	public void Dispose()
	{
		_stateSubscription.Dispose();
	}

	private record StateDto(PlayingCard Card, bool FaceDown);
	#endregion StateManagement
}
